<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="/css/welcome.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link rel="stylesheet" href="/css/welcome.css">


   
</head>
<body>
  

            <div class="container">
              <h1>Embark on a Lavish Escape</h1>
              <p>Exquisite VIP Luxury Rooms, Where Elegance Meets Unrivaled Comfort and Style.</p>
              <p class="book"><a href="/login" class="btn btn-primary">Book Now</a></p>
            </div>

</body>
</html>